@page
@using System.Security.Cryptography
@model FPT_store.Pages.Orders.Index

@{
    Layout = "Shared/_Layout";
}

<form>
    <input type="text" name="id" value="">
    <button class="btn btn-primary" asp-page-handler="search">Search</button>
    <input type="hidden" name="handler" value="Search">

</form>

@if (Model.Orders != null)
{
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Email</th>
            <th scope="col">Data</th>
            <th scope="col">Total</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var order in Model.Orders)
        {
            <tr>
                <td>@order.Id</td>
                <td>@order.Email</td>
                <td>@order.Date</td>
                <td>@order.Total &#8363;</td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <h3 class="text-danger">Account not have order</h3>
}

@if (Model.Model != null)
{
    <div class="row">
        <div class="col-12">
            <ul class="list-group">
                <li class="list-group-item">Order Id: @Model.Model.Id</li>
                <li class="list-group-item">Customer Email: @Model.Model.Email</li>
                <li class="list-group-item">Create Date: @Model.Model.Date</li>
            </ul>

        </div>
        @if (Model.Model.OrderDetails != null)
        {
            <div class="row">
                <h3 class="text-primary my-5">Order Detail: </h3>
                <div class="col-12">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Prouduct name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Amount</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var orderDetail in Model.Model.OrderDetails)
                        {
                            <tr>
                                <td>@orderDetail.ProductName</td>
                                <td>@orderDetail.Price</td>
                                <td>@orderDetail.Quantity</td>
                                <td>@orderDetail.Amount</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        }

    </div>
}
else
{
    <h3 class="text-danger">Not Found Order</h3>
}

@section Scripts
{
    @if (!string.IsNullOrEmpty(Model.Message))
    {
        <script>alert("@Model.Message")</script>
    }
}